body{
  margin: 0;
  padding: 0;
  background-color: hsl(27, 66%, 92%);

}
main{
  margin: 120px auto;
  width: max-content;
  
}
.first-section{
  height: 40px;
  background: hsl(10, 79%, 65%);
  color: hsl(27, 66%, 92%);
  padding: 20px;
  margin: 10px;
  line-height: 2px;
  border-radius: 10px;
}
section{
  background: hsl(33, 100%, 98%);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
h3{
  margin: 30px 0;
}
h2{
  color: hsl(25, 47%, 15%);
  position: relative;
  top: 30px;
}
.graph{
  position: relative;
  top: -10px;
  left: -30px;
 display:inline-block ;
  background: hsl(10, 79%, 65%);
  height: 30px;
  width: 25px;
  margin: 5px 0;
  border-radius: 3px;
}
.one{
  height: 30px;
}
.two{
  height: 50px;
}
.three{
  background: hsl(186, 34%, 60%);
  height: 66px;
}
.four{
  height: 45px;
}
.five{
  height: 35px;
}
.six{
  height: 55px;
}
.seven{
  height: 40px;
}
.amount{
font-size: 12px;
visibility: hidden;
border-radius: 7px;
position: relative;
bottom: 90px;
left: 30px;
}
.paragraph{
  position: relative;
  left: 500px;
}
.right{
 line-height: 2px;
}
.first-section img{
 position: relative;
 left: 550px;
 bottom: 80px;
}
